@charset "utf-8";
/*
   sample start file for final project - educational use only
   
   Author:   Tyler Sand
   Date:     11/10
   
  

*/

* {
    margin: 0; 
    padding: 0;
}

body {
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
	background-color: black;
}

#container {
    width: 930px;
    border-width: 2px;
    margin: 0 auto;
    background-color: black;
}


header {
   color: black;
}

nav {
    width: 200px;
    margin: 0 5px 0 5px; 
    padding: 25px 10px 0 10px;
    float: left;
    text-align: center;
}

nav ul {
    font-weight: bold;
    list-style: none;
}

nav ul li a {
    padding: 5px;
    color: gray;
    text-decoration: none;
    display:block;
}

nav ul li a:hover {
    background: black;
    border-radius: 10px;
    color: orange;
}

#main {
    width: 446px;
    padding: 8px;
    float: left;
    color: white;
    border-left: 2px solid;
    border-right: 2px solid;    
  ; 
}

#main p {
    text-indent: 1.5em;
}

figure{
    padding-top: 10px;
    text-align: center;
}

figcaption {
    font-style: italic;
}

aside {
    width: 200px;
    margin: 0 5px 0 5px;
    padding: 10px;
    float: right;
	color: white;
}

aside p {
    font-style: italic;
    font-size: 0.9em;
	color: white;
}

h2 {
    font-size: 1.4em;
    text-align: center;
    padding-bottom: 0.5em;
	color: orange;
}

h3 {
    text-align: center;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
	font-size: 1.5em;
	color: orange;
}

footer {
    width: 910px;
    margin: 0;
    padding: 10px;
    background-color: black;
    clear: both;
    color: orange;
    font-weight: bold;
    text-align: center;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

#wrapper {
    width: 930px;
    margin-bottom: 10px;
    border: 2px solid;
    border-radius: 25px;
}/* navigation for footer */
footer a:link {
    color: grey;
    text-decoration: none;
}

footer a:visited {
    color: white;
    background-color: grey;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
	color: orange;
}
